/*
* @Author: nanjiao
* @Date:   2018-08-15 16:59:25
* @Last Modified by:   xiaojiejieJ
* @Last Modified time: 2018-09-18 18:09:38
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "苹方";
	background-repeat: no-repeat;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
header{
	width: 100%;
	height: 14rem;
	background-image: url('../img/image3/订单页面.png');
	background-size: 100% 14rem;
	overflow: hidden;
}
.bottom{
	width: 100%;
	height: 0.98rem;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	/* margin-top: -3rem; */
	/* margin-bottom: 1rem; */
}
.bottom .content{
	width: 100%;
	height: 100%;
	margin-left: 0.88rem;
	display: flex; 
	justify-content: space-between;
	margin-top: 0.22rem;
	/* margin-bottom: 1rem; */
}
.bottom .content .shou{
	width: 1rem;
	height: 100%;
	background-image: url('../img/images6/images/index.png');
	background-size: 0.98rem 0.98rem;
	margin-top: -0.24rem;
	margin-left: -0.76rem;
}
.bottom .content .fa{
	width: 1rem;
	height: 100%;
	background-image: url('../img/images/12.png');
	background-size: 1rem 1rem;
	margin-top: -0.23rem;
	margin-left: -0.2rem;
}
.bottom .content .ding{
	width: 1rem;
	height: 100%;
	background-image: url('../img/images5/6.png');
	background-size: 1rem 1rem;
	margin-top: -0.23rem;
	margin-left: -0.1rem; 
}
.bottom .content .me{
	width: 1.5rem;
	height: 100%;
	background-image: url('../img/images/14.png');
	background-size: 0.95rem 0.95rem;
	margin-top: -0.16rem;
    margin-right: 0.49rem;
}
.zhong{
	width: 100%;
	height: 4rem;
	/* margin-top: 0.32rem; */
	background: #fff;
	overflow-x: auto;
	margin-top: -11.2rem;
    z-index: 999;
}
.zhong ul{
	width: 13rem;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: space-between;
    
}
.zhong ul li{
	width: 2.62rem;
	height: 3.74rem;
	padding-right: 0.3rem;
	padding-left: 0.3rem;
}
.zhong ul li div{
	width: 100%;
	height: 3.74rem;
	background: #fff;
}
.zhong ul li .tu{
	width: 2.62rem;
	height: 3.74rem;
	background-size: cover;
	margin-left: 0.1rem;
	
}
.zhong ul li .tu img{
	width: 2.62rem;
	height: 3.74rem;
	/* background-size: cover;
	margin-left: 0.1rem; */
	
}