/*
* @Author: 我的文档
* @Date:   2018-08-14 16:43:07
* @Last Modified by:   nanjiao
* @Last Modified time: 2018-08-16 15:20:16
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "苹方";
	background-repeat: no-repeat;
	font-weight: normal;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
header{
	height: 4rem;
	width: 100%;
	background-color: #e945cb;
	border-radius:0 0 0.7rem 0.7rem;
}
header .top{
	height: 0.85rem;
}
header .top .left{
	width: 1.05rem;
	height: 0.85rem;
	background-image: url('../img/images1/返回.png');
	background-repeat: no-repeat;
	background-size: 0.6rem 0.6rem;
	float: left;
	margin-top: 0.24rem;
}
header .top .center{
	width: 5.4rem;
	height: 0.85rem;
	float: left;
	font-size: 0.38rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 0.85rem;
}
header .dizhi {
	width: 7rem;
	height: 2.07rem;
	margin-left: 0.25rem;
	margin-top: 0.24rem;
}
header .dizhi .yi{
	height: 0.68rem;
}
header .dizhi .yi h6{
	font-size: 0.28rem;
	color: #fff;
	line-height: 0.68rem;	
	float: left;
}
header .dizhi .yi .jia{
	width: 0.53rem;
	height: 0.22rem;
	border: 0.01rem solid #fff;
	font-size: 0.18rem;
	border-radius: 0.2rem;
	line-height: 0.22rem;
	text-align: center;
	float: left;
	margin-top: 0.24rem;
	margin-left: 0.22rem;
	color: #fff;
}
header .dizhi h1{
	font-size: 0.38rem;
	color: #fff;
}
header .dizhi h5{
	font-size: 0.32rem;
	margin-top: 0.16rem;
	color: #fff;
}
header .time{
	width: 7rem;
	height: 2.12rem;
	margin-left: 0.24rem;
	background-color: #fff;
	border-radius: 0.2rem;
	border: 0.01rem solid #e945cb;
}
header .time .top{
	width: 6.58rem;
	height: 1.2rem;
	border-bottom: 0.01rem dashed #aca9a9;
	margin: 0 auto;
}
header .time .top .le{
	width: 3.70rem;
	padding-top: 0.22rem;
	float: left;
}
header .time .top .le p{
	font-size: 0.34rem;
	font-weight: bold;
	color: #545454;
}
header .time .top .le h6{
	font-size: 0.2rem;
	color: red;
}
header .time .top .you{
	width: 2.88rem;
	font-size: 0.28rem;
	color: red;
	line-height: 1.2rem;
	float: left;
	margin-left: 3rem;
	margin-top: -1rem;
}
header .time .top .you img{
	width: 0.6rem;
	height: 0.6rem;
	float: left;
	margin-top: -0.8rem;
	margin-left: 3rem;
}
header .time .bottom p{
	font-size: 0.34rem;
	color: #545454;
	font-weight: bold;
	margin-left: 0.24rem;
	margin-top: 0.24rem;
}
header .time .bottom .you{
	font-size: 0.28rem;
	color: red;
	font-weight: bold;
	margin-left: 3.2rem;
	margin-top: -0.5rem;
}
header .time .bottom .you img{
	width: 0.6rem;
	height: 0.6rem;
	float: left;
	margin-top: -0.5rem;
	margin-left: 3rem;
}
.list{
	height: 7.42rem;
	width: 7rem;
	margin-left: 0.24rem;
	border-radius: 0.2rem;
	margin-top: 1.4rem;
	margin-bottom: 0.24rem;
	background-color: #fff;
	box-shadow: 0 0.01rem 0.2rem 0.01rem #e945cb;
}
.list ul li:nth-child(1){
	height: 1.02rem;
	width: 6.58rem;
	margin: 0 auto;
	font-size: 0.34rem;
	font-weight: bold;
	color: #545454;
	text-align: center;
	line-height: 1.02rem;
	border: 0;
}
.list ul li{
	height: 1.27rem;
	width: 6.58rem;
	margin: 0 auto;
	border-top: 0.01rem dashed #aca9a9;
}
.list ul li img{
	height: 1rem;
	width: 1rem;
	float: left;
	margin-top: 0.15rem;
}
.list ul li p{
	font-size: 0.28rem;
	color: #545454;
	float: left;
	line-height: 1.27rem;
}
.list ul li i{
	float: right;
	color: #eeeeee;
	font-size: 0.4rem;
	line-height: 1.27rem;
}
.list ul li:nth-child(5) i{
	color: #2bd5a5;
}
.list ul li i:hover{
	color: #2bd5a5;
}